IndentWidth: 4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
BreakBeforeBraces: Custom
BinPackParameters: false
BinPackArguments: false
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  BeforeCatch: true